.work-done {
  background-color: $background-color-secondary;
  margin: $margin-secondary;
  padding: $padding-secondary;
  border-radius: $border-radius-primary;
  h2 {
    text-align: center;
    font-family: $font-cursive;
    font-size: $font-size-h2;
  }
  div {
    margin-bottom: $margin-secondary;
    h3 {
      font-size: $font-size-h3;
      margin-bottom: $margin-primary;
    }
  }
}
