.company-about {
  background-color: $background-color-secondary;
  padding: $padding-secondary;
  margin: $margin-secondary;
  border-radius: $border-radius-primary;
  header {
    margin-bottom: $margin-secondary;
    font-family: $font-cursive;
    h2 {
      text-align: center;
      font-size: $font-size-h2;
    }
    p {
      text-align: center;
      font-weight: $font-weight-primary;
    }
  }
}
